/.doit.db
/.peru
/build
/compile_flags.txt
/peru
/src_py/**/asn1_repo.json
/src_py/hat/drivers/modbus/transport/_encoder.*
/src_py/hat/drivers/serial/_native_serial.*
/src_py/hat/drivers/ssl/_ssl.*
/test_pytest/.coverage
/test_pytest/.coverage
/test_pytest/profile
__pycache__
